<html>
<head>
  <title>Error 404. Not found.</title>
</head>
<body>
<h1>Not found</h1>
  <p>The requested website is not found in the server.</p>
<p>Go back to main? <a href="{{ url_for("index") }}"> Home page</a>?</p>
</body>
</html>
