<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>
   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />




<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Times</h1>
  <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>
  <b> * If the location of the brevet is out of bounds from the race, the program will return "Mon 1/1 0:00".</b>
</br>
</br>
<!-- </br> -->


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



<!-- Design on bootstrap grid -->
<form role="form">
<div class="row">
  <div class="col-md-4">
    <label>Distance</label>
  <select name="distance" id="brevet_dist_km">
    <option value="200">200km</option>
    <option value="300">300km</option>
    <option value="400">400km</option>
    <option value="600">600km</option>
    <option value="1000">1000km</option>
    <option value="1300">1300km</option>
  </select>
  </div> <!-- columns 1--4  -->
  <div class="col-md-6">
    <label>Begins at</label>
    <input type=date name="begin_date" id="begin_date" value="2020-05-15" />
    <input type=time name="begin_time" id="begin_time" value="00:00"    />

  </div> <!-- columns 5-10 -->
  </div> <!-- row -->

  <br />  <!-- Cosmetic -- a little vertical space -->
  <!-- Although we do not use tables for general page layout, they are
       appropriate for something that really is a table, like this
       one.  We allocate it the full 12 columns of the bootstrap grid.
  -->
<div class="row">
  <div class="col-md-12">
    <table class="control_time_table">
        <tr>
  	<th> Miles </th>
  	<th> Km </th>
  	<th>Location</th>
  	<th>Open</th>
  	<th>Close</th>
  	<th>Notes</th>
        </tr>
     {% for row in range(20) %}
      <tr class="control">
        <!-- Dist (mi) -->
        <td><input name="miles" type="number" step="any" min="0" max="900" size="5" /></td>
        <!-- Dist (km) -->
        <td><input name="km" type="number" step="any" min="0" max="1500" size="5" /> </td>
       <!-- 1430 is 1300 plus 10% -->
        <!-- Location (optional) -->
        <td><input name="location" type="text" placeholder="Optional location name" size="20" /> </td>
        <!-- Open time (read only, set by JavaScript function -->
        <td><input name="open" type="datetime" value="" readonly /></td>
        <!-- Close time (read only, set by JavaScript function -->
        <td><input name="close" type="datetime" value="" readonly /></td>
        <!-- Notes (error messages for this row) -->
        <!-- <td class="notes"> &nbsp; </td> -->
        <td><input name="notes" type="text" value="" readonly /></td>
        <!-- Notes (error messages for this row) -->
      </tr>
      {% endfor %}
    </table>
  </div> <!-- col -->
</div> <!-- row -->

<button type ="submit" name ="submit" formmethod="post" formaction="/submit" id="submit">Submit</button>

<button type ="submit" name ="display" formmethod="post" formaction="/display" id="display" value="Display">Display</button>

</form>




<script type="text/javascript">

  var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
  var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";

  function calc_times(control) {
    var km = control.find("input[name='km']").val();
    var open_time_field = control.find("input[name='open']");
    var close_time_field = control.find("input[name='close']");

    var notes_field = control.find("input[name='notes']");

    var brevet_dist_km = $("#brevet_dist_km").val();
    var begin_date = $("#begin_date").val();//pull info from those names
    var begin_time = $("#begin_time").val();

    $.getJSON(TIME_CALC_URL,  { km: km, brevet_dist_km:brevet_dist_km, begin_date:begin_date, begin_time:begin_time},
      // response handler
      function(data) {//fuction that add the open and close times in the website
         var times = data.result;
         console.log("Got a response: " +  times);
         console.log("Response.open = " + times.open);
         open_time_field.val( moment(times.open).format("ddd M/D H:mm"));
         close_time_field.val( moment(times.close).format("ddd M/D H:mm"));
         notes_field.val(times.notes);
       }
     );
    }
//fuctions for conversion miles to km and vice
  $(document).ready(function(){
      $('input[name="miles"]').change(
         function() {
             var miles = parseFloat($(this).val());
             var km = (1.609344 * miles).toFixed(1) ;
             console.log("Converted " + miles + " miles to " + km + " kilometers");
             var control_entry = $(this).parents(".control")
             var target = control_entry.find("input[name='km']");
             target.val(km);
             // Then calculate times for this entry
             calc_times(control_entry);
          });

      $('input[name="km"]').change(
         function() {
             var km = parseFloat($(this).val());
             var miles = (0.621371 * km).toFixed(1) ;
             console.log("Converted " + km + " km to " + miles + " miles");
             var control_entry = $(this).parents(".control")
             var target = control_entry.find("input[name='miles']");
             target.val( miles );
             calc_times(control_entry);
          });

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
